<!-- src/index.hbs -->
        <div>
          <div>
            <ul>
              <li>
                <h2><a href="/">Home</a></h2>
              </li>
              <li>
                <h2><a href="/view1">View 1</a></h2>
              </li>
              <li>
                <h2><a href="/view2">View 2</a></h2>
              </li>
            </ul>
          </div>
        </div>
