body {
  background: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-weight:200;
  a {
    color:#fff;
    text-decoration:underline;
  }

  ul {
    list-style-type: none;
  }
}

.logo {
  width:500px;
  height:500px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-250px;
  margin-left:-250px;

    &.no-flip {
      background:url(../img/5.png);
    }

    &.flip {
      background:url(../img/5-flip.png);
    }
}


